.navigation li {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #555;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: transparent;
    position: fixed;
    height: 50%;
    overflow: auto;
    z-index: 1;
}

.navigation a {
    display: block;
    font-weight: bold;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.navigation button {
    background-color: transparent;
    border: transparent;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #bdc1c6;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    float: left;
}


.navigation li a:hover {
    background-color: #111;
    opacity: 50%;
}

.active {
    background-color: transparent;
}

.contactBtn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
}

.contactBtn a:active {
    margin-top: 20rem;
    position: relative;
    bottom: 2px;
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: #202124;
    
}

.bg-image {
    background-image: url("../background.jpg");

    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* margin-top: 50%; */
    height: 100%;
    opacity: 90%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
}

.bg-text {
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(255, 255, 251, 0.4);
    color: black;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -110%);
    margin-left: 15%;
    width: 40%;
    padding: 20px;
    text-align: center;
}

div {
    display: block;
}

.aboutme {
    /* background-image: url("../background4.jpg"); */
    color: #bdc1c6;
    background-color: #202124;
    text-align: center;
    padding: 50px, 80px;
    padding-top: 100px;
    margin: 0px;
    width: 100%;
    text-align: justify;
    z-index: 1;
    float: left;
}

.aboutme h2 {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ede1e6;
    text-align: left;
    text-decoration: underline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 20%;
    padding-bottom: 30px;

}

.aboutme-content {
    width: 50%;
    text-align: center;
    padding: 50px, 80px;
    margin: auto;

    text-align: justify;
    font-size: 20px;
}

.aboutme-content p {
    font-size: 25px;
}

.profile-pic {
    background-image: url("../profile.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
    
    width: 200px;
    height: 200px;

}

.bg-image2 {
    background-image: url("../background.jpg");

    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* margin-top: 50%; */
    height: 100%;
    opacity: 90%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 90%;

    float: left;
}

.skills {
    color: #bdc1c6;
    background-color: #202124;
    text-align: center;
    padding: 50px, 80px;
    margin: 0px;
    padding-bottom: 50px;
    width: 100%;
    text-align: justify;
    z-index: 1;
    float: left;
}

.skills h2 {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ede1e6;
    text-align: left;
    text-decoration: underline;
    padding-top: 50px;
    padding-left: 20%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.skills p {
    width: 50%;
    text-align: center;
    padding: 50px, 80px;
    margin: auto;

    text-align: justify;
    font-size: 20px;
}

.bg-image3 {
    /* background-image: url("../background.jpg");

    filter: blur(8px);
    -webkit-filter: blur(8px);

    position: relative;
    min-height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 90%;

    transform: scale(1.1); */
    float: left;
}

.connect {
    display: block;
    height: 100px;
    width: 100%;
    background-color: #202124;


    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

.connect a {
    text-align: center;
}

.connect h2 {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ede1e6;
    text-align: center;
    text-decoration: underline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fa {
    color: #bdc1c6;
    background-color: #FFFFFB;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    width: 20%;
    text-decoration: none;
    margin: 0px;
    float: left;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github{
    background: #161b22;
    color: white;
}
.fa-facebook{
    background: #3b5997;
    color: white;
}
.fa-instagram{
    background: #161b22;
    color: white;
}
.fa-envelope{
    background: #cb483b;
    color: white;
}
.fa:hover {
    opacity: 0.9;
}

.projects {

    background-color: #202124;
    text-align: center;
    padding: 50px, 80px;
    padding-top: 100px;
    margin: 0px;
    width: 100%;
    text-align: justify;
    z-index: 1;
    float: left;
    color: #bdc1c6
}

.project-title {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ede1e6;
    text-align: left;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 20%;
}

.project-description {
    width: 50%;
    text-align: center;
    padding: 50px, 80px;
    margin: auto;

    text-align: justify;
    font-size: 20px;
}

.bg-image4 {
    background-image: url("../styletransfer.jpg"); 

    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

    position: relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 90%;

    float: left;
}

.profile-sound {
    background-image: url("../keras.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;

}

.profile-tensor {
    background-image: url("../tensorflow.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;

}

.profile-animals {
    background-image: url("../codeforgood.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;

}

.profile-redcross {
    background-image: url("../redcross.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;

}

.resume {
    margin-top: 45px;
}